header {
	height: 8rem;
	border-bottom: 4px solid orange;
	margin-bottom: 2rem;
}

header h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 72px;
    padding-left: 2rem;
    vertical-align: middle;
}

.container {
	width: 100%;
}

#projects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#instructions_url {
	vertical-align: bottom;	
}

#send {

}

#total {
	margin: auto;
	margin-bottom: 5rem;
	width: 32rem !important;
	height: 36rem;
	overflow: hidden;
	display: inline-block;
	line-height: 1.4;
	color: #444;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0.1px 1px 4px 0px #444;
	border-radius: .5rem;
}
}

.hidden {
	display: none;
}