header {
	height: 8rem;
	border-bottom: 4px solid orange;
	margin-bottom: 2rem;
}

header h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 72px;
    padding-left: 2rem;
    vertical-align: middle;
}

.container {
	width: 100%;
}

#projects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#instructions_url {
	vertical-align: bottom;	
}