.project {
	/*border: solid border-top-left-radius: ck 0.5px;*/;
	margin: auto;
	margin-bottom: 5rem;
	width: inherit !important;
	height: 36rem;
	display: inline-block;
	line-height: 1.4;
	color: #444;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0.1px 1px 4px 0px #444;
	border-radius: .5rem;
}

.project:hover {
	color: white;
	background-color: #666;
	opacity: 0.9;
}

hr {
	color: orange; /* change to home depot orange */
}

a {
	width: 30rem;
	height: 30rem;
}

img {
	width: inherit !important;
	height: 30rem;	
}